/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

/* Global Styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

body {
    background-color: #184d47;
}


/* Header Styles */
header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 175rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.nav-brand {
    width: 7rem;
}

.menu-icons i {
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i {
    color: #eebb4d;
}

.nav-list {
    width: 25rem;
    height: 100vh;
    background-color: #d6efc7;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    transition: all 650ms ease-in-out;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.40);
}

.nav-list.active {
    right: 0;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.nav-item {
    margin: 3rem 0;
    font-weight: 500;
}

.nav-link {
    font-size: 1.6rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .7);
}

/* Footer */
.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    color: #d6efc7;
    font-size: 1.7rem;
}

.grid-3 p {
    padding: 1rem;
}

.grid-3 h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
}

.grid-3 i {
    color: #eebb4d;
    padding-top: 1rem;
}

footer {
    padding: 1.3rem;
}

footer p {
    margin: 0;
}

.copyright {
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding-top: .5rem;
    color: #eebb4d;
}

@media only screen and (min-width: 825px) {
    header {
        height: 8rem;
    }

    nav {
        align-items: right;
    }

    .nav-brand {
        width: 9rem;
    }

    .nav-list {
        width: 87rem;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
        box-shadow: none;
    }

    .menu-icons {
        display: none;
    }

    .nav-item {
        margin: 0 2.2rem;
    }

    .nav-link, .current {
        color: #fafafa;
        position: relative;
        font-size: 1.4rem;
    }

    .nav-link::before, .current::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: #eebb4d;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }

    .current::before {
        transform: scaleX(1);
    }

    .nav-link:hover::before {
        transform: scaleX(1);
    }
  }

  @media only screen and (min-width: 1200px) {
    .nav-link {
        font-size: 2rem;
    }
    
}

@media only screen and (max-width: 650px) {
    .grid-3 {
        grid-template-columns: 1fr;
    }
}