@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

html, body {
    background-color: #184d47;
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.routes-nav {
    position: fixed;
    margin-top: 70px;
    text-align: center;
    width: 100%;
    height: 65px;
    line-height: 70px;
    z-index: 1000;
}

.routes-menu {
    padding: 0 30px 0 0;
    background-color: #1e5f58;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    z-index: 1;
}

.routes-menu a {
    text-decoration: none;
    color: #d6efc7;
    margin: 0 10px;
    line-height: 70px;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

.routes-menu a:hover {
    color: #eebb4d;
}

.showcase::after {
    content: '';
    height: 80vh;
    width: 100%;
    background-image: url(/images/landingPic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(6px);
    transition: all 1000ms;
}

.showcase:hover::after {
    filter: blur(0px);
    transition: all 1000ms;
}

.showcase:hover .content {
    filter: blur(2px);
    transition: all 1000ms;
}

.content {
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 50%;
    margin-top: 195px;
    margin-left: -200px;
    width: 400px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}

.content .bigLogo {
    height: 200px;
}

.content .title {
    color: white;
    font-size: 2.2rem;
    margin-top: 1rem;
}

.content .showcaseText {
    color: white;
    line-height: 1.7;
    margin-top: 1rem;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 2rem;
}

.grid-4 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    color: #d6efc7;
}

.grid-4 a:link {
    color: #d6efc7;
}

.grid-4 a:visited {
    color: #d6efc7;
}

.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    color: #d6efc7;
}

.grid-3 i {
    color: #eebb4d;
}

.grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    color: #d6efc7;
    padding-top: 2rem;
}

.center {
    text-align: center;
    margin: auto;
}

.newsletter {
    padding: 1.2rem;
}

.signup {
    display: grid;
    grid-gap: 20px;
    font-size: 2rem;
    color: #181818;
    grid-template-columns: 1fr;
}

.input-fields input {
    position: relative;
    align-items: center;
    width: 80%;
    padding: 1rem 0;
    margin-top: .5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #181818;
    font-size: 1.8rem;
    background-color: #d6efc7;
    color: #181818;
    transition: border-color 650ms;
}

.input-fields input:focus {
    border-color: #f19720;
}

.contact-form button {
    margin: 1.5rem auto;
    padding: .5rem 4rem;
    background: linear-gradient(to left, #184d47, #2c8b80);
    border: none;
    color: #d6efc7;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 3rem;
}

.contact-form button:focus, .contact-form button:hover {
    background: linear-gradient(to right, #184d47, #2c8b80);
}

.bg-light {
    background: #d6efc7;
    color: #333;
}

.bg-dark {
    background: #181818;
    color: #d6efc7;
}

.socials h3 {
    padding: 1rem;
    color: #d6efc7;
}

footer {
    padding: 1.3rem;
}

footer p {
    margin: 0;
}
  
  .input-fields .input {
    font-family: "Montserrat", sans-serif;
    margin: 10px 0;
    background: transparent;
    text-align: center;
    border: 0px;
    border-bottom: 2px solid #181818;
    padding: 10px;
    color: #181818;
    width: 70%;
  }
  
  .btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
      background: transparent;
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      border: 2px solid #184d47;
      color: #181818;
      cursor: pointer;
      text-transform: uppercase;
      width: 25%;
      margin-top: 10px;
  }

  .youtubeLink h3 {
    padding: 2rem;
    color: #181818;
  }

  .youtubeLink {
      padding-bottom: 2rem;
  }

  .copyright {
      letter-spacing: 2px;
      font-size: 1rem;
      color: #eebb4d;
  }

  /* Gallery */
  
  .gallery-container {
      padding-top: 70px;
      padding-bottom: 50px;
      width: 100%;
      max-width: 120rem;
      margin: auto;
      padding-left: 0;
  }

  .gallery-container h1 {
      color: #eebb4d;
      font-size: 3rem;
      font-weight: 400;
      text-align: center;
      letter-spacing: 3px;
      margin-right: -3px;
  }

  .image-gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: 1.5rem;
      grid-template-areas:
                'img-2 img-6 img-5 img-5'
                'img-2 img-4 img-3 img-1'
                'img-8 img-8 img-7 img-1';                
  }

  .image-gallery a {
      width: 100%;
      height: 25rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
  }

  .image-gallery a i {
      color: rgba(255, 255, 255, .6);
      font-size: 3rem;
      position: relative;
      z-index: 100;
      padding: 1rem 3rem;
      border: 2px solid rgba(255, 255, 255, .6);
      border-radius: .4rem;
      opacity: 0;
      transition: opacity .5s;
  }

  .image-gallery a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: opacity .5s;
  }

  .image-gallery a:hover i, .image-gallery a:hover::before {
      opacity: 1;
  }

  .img-1 {
      grid-area: img-1;
      min-height: 51.5rem;
      background-image: url("/images/aboutBike.jpg");
  }

  .img-2 {
      grid-area: img-2;
      min-height: 51.5rem;
      background-image: url("/images/aboutBike2.jpg");
  }

  .img-3 {
      grid-area: img-3;
      background-image: url("/images/aboutBike3.jpg");
  }

  .img-4 {
      grid-area: img-4;
      background-image: url("/images/aboutBike4.jpg");
  }

  .img-5 {
      grid-area: img-5;
      background-image: url("/images/aboutBike5.jpg");
  }

  .img-6 {
      grid-area: img-6;
      background-image: url("/images/aboutBike6.jpg");
  }

  .img-7 {
      grid-area: img-7;
      background-image: url("/images/landingBike.jpg");
  }

  .img-8 {
      grid-area: img-8;
      background-image: url("/images/aboutBike7.jpg");
  }

  .googlemap {
    width: 100%;
}

.map {
  padding-top: 1rem;
  padding-bottom: 50px;
  width: 100%;
  max-width: 200rem;
  margin: auto;
  padding-left: 0;
}

.map h1 {
  color: #181818;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
}

/* Routes Page */

.routes {
    padding-top: 8rem;
    overflow-x: hidden;
}

.routes .heading, .landmarks .heading, .events .heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 1rem;
    text-align: center;
    color: #eebb4d;
    position: relative;
}

.landmarks, .events {
    overflow-x: hidden;
}

.events .heading {
    margin-bottom: 1rem;
    color: #181818;
}

.events .heading {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.landmarks .subheading {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 3rem;
    text-align: center;
    color: #eebb4d;
    position: relative;
}

.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card {
    width: 32rem;
    height: auto;
    background-color: #d6efc7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.20);
    border-radius: 2rem;
}

.events .card {
    width: 24rem;
    background-color: #184d47;
}

.events .card h1 {
    padding: .5rem;
}

.landmarks .card {
    width: 28rem;
}

.card .card-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
    border-radius: 2rem;
}

.card h1 {
    font-size: 2rem;
    color: #181818;
    margin: .5rem 0;
    text-align: center;
}

.card .title {
    font-size: 1.5rem;
    color: #181818;
    margin: .5rem 0;
    text-align: center;
}

.card .info {
    font-size: 1.1rem;
    color: #181818;
    margin: 1rem 1rem;
    text-align: center;
}

.events .card .title, .events .card .info, .events .card h1 {
    color: #d6efc7;
}

.routes .card .btn, .landmarks .card .btn, .events .card .btn {
    padding: 1rem 2.5rem;
    background-color: #184d47;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eebb4d;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all .5s;
}

.events .card .btn {
    background-color: #d6efc7;
    color: #181818;
}

.routes .card .btn:hover, .landmarks .card .btn:hover, .events .card .btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .2);
}

.routes .card .btn:active, .landmarks .card .btn:active, .events .card .btn:active {
    transform: translateY(0);
    box-shadow: none;
}

/* Contact Form */
.contactWrapper {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    height: 35%;
    max-width: 35rem;
    background-color: #d6efc7;
    position: relative;
    padding: 10rem 0;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, .1);
    border-radius: 1rem;
    z-index: 1;
}

.form-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25rem;
    background: linear-gradient(to left, #f19720, #eebb4d);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: -1;
}

.form-heading {
    color: #181818;
    font-size: 2.8rem;
    position: absolute;
    top: 3.5rem;
    left: 10rem;
    text-align: center;
}

.form-container form {
    transform: translateX(10rem);
    padding: 2rem 0;
    background-color: #d6efc7;
    border-radius: 1rem;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, .1);
    width: 100%;
}

.input-group {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
}

.input-group input {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    margin-top: .5rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    background-color: #d6efc7;
    color: #f19720;
}

.input-group > i {
    font-size: 2rem;
    margin-right: 1.2rem;
    color: #181818;
}

.input-group .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 1px;
}

.input-group .bar::before {
    content: '';
    position: absolute;
    background-color: #eebb4d;
    width: 0;
    height: 2px;
    transition: width 650ms;
}

.input-group input:focus + .bar::before {
    width: 100%;
}

.input-group button {
    margin: 3rem auto;
    padding: 1rem 5rem;
    background: linear-gradient(to left, #f19720, #eebb4d);
    border: none;
    color: #d6efc7;
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 3rem;
}

.input-group button:focus, .input-group button:hover {
    background: linear-gradient(to right, #f19720, #eebb4d);
}

@media screen and (min-width: 700px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: 2rem;
        transition: transform .5s;
    }

    .routes .card:hover, .landmarks .card:hover, .events .card:hover {
        transform: scale(1.05);
    }
}

@media screen and (max-width: 555px) {
    .form-heading {
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 496px) {
    .routes-menu a {
        font-size: 8px;
        padding: 3px;
        margin: 0;
    }

    .events .card, .routes .card, .landmarks .card {
        width: 20rem;
    }

    .routes-menu {
        padding: 0;
    }

    .form-heading {
        top: 2rem;
    }

    .form-container form {
        padding: 1rem 0;
        width: 100%;
    }
    
    .input-group input {
        font-size: 1rem;
    }

    .input-group button {
        margin: 1rem auto;
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .form-container {
        margin-top: 50px;
    }

    .contact-form input {
        width: 50%;
        padding: 0;
        margin-top: 0;
    }

    .newsletter, .about, .socials, .youtubeLink, .grid-3 {
        margin-right: 0;
        padding-right: 0;
    }

    .signup p {
        font-size: 1.5rem;
    }
}


  @media screen and (max-width: 900px) {
      .image-gallery {
            grid-template-areas:

                'img-2 img-2 img-6 img-6'
                'img-2 img-2 img-1 img-1'
                'img-4 img-4 img-1 img-1'
                'img-8 img-8 img-8 img-8'
                'img-5 img-5 img-5 img-5'
                'img-3 img-3 img-7 img-7';
      }

      .form-container::before {
        height: 10rem;
    }

    .form-heading {
        left: 50%;
        transform: translateX(-50%);
    }

    .form-container form {
        border-radius: initial;
        transform: initial;
        box-shadow: none;
    }
  }

  @media screen and (max-width: 700px) {
    .image-gallery {
          grid-template-areas:

              'img-2 img-2 img-2 img-2'
              'img-6 img-6 img-6 img-6'
              'img-5 img-5 img-5 img-5'
              'img-8 img-8 img-8 img-8'
              'img-4 img-4 img-4 img-4'
              'img-1 img-1 img-1 img-1'
              'img-3 img-3 img-3 img-3'
              'img-7 img-7 img-7 img-7';
    }

    .image-gallery a, .img-1, .img-2 {
        min-height: 30rem;
        height: 30rem;
    }

}

@media only screen and (max-width: 650px) {
    .grid-3 {
        grid-template-columns: 1fr;
    }
}
  

@media only screen and (max-width: 780px) {
    .btn {
        font-size: 0.8rem;
    }

    label {
        display: block;
        cursor: pointer;
        background-color: #184d47;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    }

    .menu, .landing-menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a, .landing-menu a {
        display: block;
        background-color: #143f3a;
        border-bottom: 1px solid #eebb4d;
        margin: 0;
    }

    .menu a.active, .landing-menu a.active {
        padding-bottom: 0;
        color: #96bb7c;
        border-bottom: 1.5px solid #eebb4d;
    }

    .menu a:hover, .landing-menu a:hover {
        background-color: #10332f;
        color: #eebb4d;
    }

    #toggle:checked + .menu, #toggle:checked + .landing-menu {
        display: block;
    }

    .showcase {
        text-align: center;
    }

    .showcase::after {
        height: 50vh;
    }

    .content {
        margin-top: 2%;
        text-align: center;
    }

    .content .bigLogo {
        height: 150px;
    }

    .content .title {
        font-size: 1.7rem;
    }

    .content .showcaseText {
        display: none;
    }

    .grid-4 {
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 5px;
    }

    .grid-4 p {
        display: none;
    }

    .grid-2 {
        grid-template-columns: 1fr;
    }

    .container {
        max-width: 600px;
    }

    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .gallery-container {
        padding-right: 0;
    }

    .routes-menu a {
        font-size: 15px;
    }

}