@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #184d47;
}

li, a, .dropdown .dropbtn {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.4vw;
    color: #d6efc7;
    text-decoration: none;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    color: #24252A;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 2%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #184d47;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #eebb4d;
}

.nav_links p {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    color: #eebb4d;
    text-decoration: none;
    letter-spacing: 10px;
}

.nav_links img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 80%;
}

button {
    padding: 9px 25px;
    background-color: rgba(238, 187, 77, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(238, 187, 77, 0.8);
}

.pageTitle {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 2vw;
    color: #eebb4d;
    text-decoration: none;
    letter-spacing: 10px;
}


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #96bb7c;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #24252A;
    background-color: #2e7a71;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #23665e;
  }
  
  .show {
    display: block;
  }

  .landingPage h1{
    text-align: center;
    padding-top: 2%;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 3vw;
    color: #eebb4d;
    text-decoration: none;
    letter-spacing: 10px;
  }

  .landing {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 5vw 0 5vw;
      height: 100vh;
  }

  .landingText h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 4vw;
    margin: 0 !important;
    text-align: center;
  }

  .landingText h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3vw;
    margin: 0 !important;
    text-align: center;
    opacity: 0.9;
  }

  .landingText h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 6px !important;
    opacity: 0.5;
    line-height: 30px;
    text-align: center;
}

.landingImage img {
    width: 50vw;
}