@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

html, body {
    background-color: #184d47;
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.nav {
    position: fixed;
    text-align: right;
    width: 100%;
    height: 70px;
    line-height: 70px;
    z-index: 1000;
}

.menu {
    padding: 0 30px 0 0;
    background-color: #184d47;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    z-index: 1;
}

.menu a {
    text-decoration: none;
    color: #d6efc7;
    margin: 0 10px;
    line-height: 70px;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

.menu a:hover{
    color: #eebb4d;
}

.menu a.active {
    padding-bottom: 7px;
    color: #96bb7c;
    border-bottom: 1.5px solid #96bb7c;
}

.logo {
    width: auto;
    max-height: 50px;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 20px;
}

label {
    padding: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    color: #eebb4d;
    display: none;
}

#toggle {
    display: none;
}

#toggle2 {
    display: none;
}

.showcase::after {
    content: '';
    height: 80vh;
    width: 100%;
    background-image: url(/images/landingBike.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(6px);
    transition: all 1000ms;
}

.showcase:hover::after {
    filter: blur(0px);
    transition: all 1000ms;
}

.showcase:hover .content {
    filter: blur(2px);
    transition: all 1000ms;
}

.content {
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 50%;
    margin-top: 195px;
    margin-left: -200px;
    width: 400px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}

.content .bigLogo {
    height: 200px;
}

.content .title {
    color: white;
    font-size: 2.2rem;
    margin-top: 1rem;
}

.content .showcaseText {
    color: white;
    line-height: 1.7;
    margin-top: 1rem;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 2rem;
}

.grid-4 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    color: #d6efc7;
}

.grid-4 a:link {
    color: #d6efc7;
}

.grid-4 a:visited {
    color: #d6efc7;
}

.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    color: #d6efc7;
}

.grid-3 i {
    color: #eebb4d;
}

.grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    color: #d6efc7;
    padding-top: 2rem;
}

.center {
    text-align: center;
    margin: auto;
}

.newsletter {
    padding: 1.2rem;
}

.signup {
    display: grid;
    grid-gap: 20px;
    font-size: 2rem;
    color: #181818;
    grid-template-columns: 1fr;
}

.bg-light {
    background: #d6efc7;
    color: #333;
}

.bg-dark {
    background: #181818;
    color: #d6efc7;
}

.socials h3 {
    padding: 1rem;
    color: #d6efc7;
}

footer {
    padding: 1.3rem;
}

footer p {
    margin: 0;
}
  
  .input-fields .input {
    font-family: "Montserrat", sans-serif;
    margin: 10px 0;
    background: transparent;
    text-align: center;
    border: 0px;
    border-bottom: 2px solid #181818;
    padding: 10px;
    color: #181818;
    width: 70%;
  }
  
  .btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
      background: transparent;
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      border: 2px solid #184d47;
      color: #181818;
      cursor: pointer;
      text-transform: uppercase;
      width: 25%;
      margin-top: 10px;
  }

  .youtubeLink h3 {
    padding: 2rem;
    color: #181818;
  }

  .youtubeLink {
      padding-bottom: 2rem;
  }

  .copyright {
      letter-spacing: 2px;
      font-size: 1rem;
      color: #eebb4d;
  }

  /* Gallery */
  
  .gallery-container {
      padding-top: 100px;
      padding-bottom: 50px;
      width: 100%;
      max-width: 120rem;
      margin: auto;
      padding-left: 0;
      padding-right: 1.5rem;
  }

  .image-gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: 1.5rem;
      grid-template-areas:
                'img-2 img-6 img-5 img-5'
                'img-2 img-4 img-3 img-1'
                'img-8 img-8 img-7 img-1';                
  }

  .image-gallery a {
      width: 100%;
      height: 25rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
  }

  .image-gallery a i {
      color: rgba(255, 255, 255, .6);
      font-size: 3rem;
      position: relative;
      z-index: 100;
      padding: 1rem 3rem;
      border: 2px solid rgba(255, 255, 255, .6);
      border-radius: .4rem;
      opacity: 0;
      transition: opacity .5s;
  }

  .image-gallery a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: opacity .5s;
  }

  .image-gallery a:hover i, .image-gallery a:hover::before {
      opacity: 1;
  }

  .img-1 {
      grid-area: img-1;
      min-height: 51.5rem;
      background-image: url("/images/aboutBike.jpg");
  }

  .img-2 {
      grid-area: img-2;
      min-height: 51.5rem;
      background-image: url("/images/aboutBike2.jpg");
  }

  .img-3 {
      grid-area: img-3;
      background-image: url("/images/aboutBike3.jpg");
  }

  .img-4 {
      grid-area: img-4;
      background-image: url("/images/aboutBike4.jpg");
  }

  .img-5 {
      grid-area: img-5;
      background-image: url("/images/aboutBike5.jpg");
  }

  .img-6 {
      grid-area: img-6;
      background-image: url("/images/aboutBike6.jpg");
  }

  .img-7 {
      grid-area: img-7;
      background-image: url("/images/landingBike.jpg");
  }

  .img-8 {
      grid-area: img-8;
      background-image: url("/images/aboutBike7.jpg");
  }

  @media screen and (max-width: 900px) {
      .image-gallery {
            grid-template-areas:

                'img-2 img-2 img-6 img-6'
                'img-2 img-2 img-1 img-1'
                'img-4 img-4 img-1 img-1'
                'img-8 img-8 img-8 img-8'
                'img-5 img-5 img-5 img-5'
                'img-3 img-3 img-7 img-7';
      }
  }

  @media screen and (max-width: 700px) {
    .image-gallery {
          grid-template-areas:
             /* 'img-2 img-6 img-5 img-5'
              'img-2 img-4 img-3 img-1'
              'img-8 img-8 img-7 img-1'; 5 4 3 7*/

              'img-2 img-2 img-2 img-2'
              'img-6 img-6 img-6 img-6'
              'img-5 img-5 img-5 img-5'
              'img-8 img-8 img-8 img-8'
              'img-4 img-4 img-4 img-4'
              'img-1 img-1 img-1 img-1'
              'img-3 img-3 img-3 img-3'
              'img-7 img-7 img-7 img-7';
    }

    .image-gallery a, .img-1, .img-2 {
        min-height: 30rem;
        height: 30rem;
    }
}
  

@media only screen and (max-width: 780px) {
    .btn {
        font-size: 0.8rem;
    }

    label {
        display: block;
        cursor: pointer;
        background-color: #184d47;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        background-color: #143f3a;
        border-bottom: 1px solid #eebb4d;
        margin: 0;
    }

    .menu a.active {
        padding-bottom: 0;
        color: #96bb7c;
        border-bottom: 1.5px solid #eebb4d;
    }

    .menu a:hover{
        background-color: #10332f;
        color: #eebb4d;
    }

    #toggle:checked + .menu {
        display: block;
    }

    .showcase {
        text-align: center;
    }

    .showcase::after {
        height: 50vh;
    }

    .content {
        margin-top: 2%;
        text-align: center;
    }

    .content .bigLogo {
        height: 150px;
    }

    .content .title {
        font-size: 1.7rem;
    }

    .content .showcaseText {
        display: none;
    }

    .grid-4 {
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 5px;
    }

    .grid-4 p {
        display: none;
    }

    .grid-2 {
        grid-template-columns: 1fr;
    }

    .grid-3 {
        grid-template-columns: 1fr;
    }

    .container {
        max-width: 600px;
    }

    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .gallery-container {
        padding-right: 0;
    }

}

@media only screen and (min-width: 1100px) {
    #toggle2 {
        display: block;
    }

    .logo {
        padding-right: 30px;
    }

    .logoGroup p {
        font-weight: 300;
        letter-spacing: 10px;
        color: #eebb4d;
        opacity: 0.9;
    }
}